@using Proiect_TW.Domain.Entities.Users;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var products = ViewBag.ShoppingCartProducts;
}

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Your Shopping Cart</h2>
                    <span>Shop our latest fashion styles for every occasion. Quality clothes at great prices!</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            @if (products != null)
            {
                foreach (ShoppingCartProduct product in products)
                {
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="@Url.Action("SingleProduct", "Products" , new { button = product.Title })"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="/assets/ProductsImages/@product.ImagesPath[0]" alt="">
                            </div>
                            <div class="down-content">
                                <h4> @($"{product.Title}")</h4>
                                <span>@($"${product.Price}")</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->
