
@{
    ViewBag.Title = "_Footer";
}

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="col-lg-3">
                        <div class="logo">
                            <img src="/assets/images/footer-logo.png" height ="70" alt="hexashop ecommerce templatemo">
                        </div>
                    @*<div class="col-lg-3">
                            <div class="footer-logo-text">
                                <span>Wardrobe Wonder</span>
                            </div>
                            <div class="footer-logo-description">
                                <h5>Descopera Minunile Garderobei Tale</h5>
                            </div>
                    </div>*@

                    </div>
                                       
                    <ul>
                        <li><a href="http://surl.li/rosia" target="_blank">Strada Studenților 7, Chișinău, Молдова</a></li>
                        <li><a href="https://outlook.office365.com/mail/">gheorghe.cristian@isa.utm.md</a></li>
                        <li><a href="#">373 69733335</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="/Home/Products">Men’s Shopping</a></li>
                    <li><a href="/Home/Products">Women’s Shopping</a></li>
                    <li><a href="/Home/Products">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/Home/Index">Homepage</a></li>
                    <li><a href="/Home/About">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="/Home/Contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>
                        Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.

                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
                    </p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</footer>
<!-- ***** Footer Ends ***** -->
